<%- include('../../principal/cabecera') %>
<%- include('../../principal/menu') %>


<div class="container">
    ´

    
    <div class="row">
        <div class="col-md-2.5 shadow-lg p-3 mb-5 bg-white rounded">
             <%- include('carnet') %>
        </div>

        <div class="col-md-4">
            <%- include('campeonatos') %>
        </div>

        <div class="col-md-3">
            <%- include('puntoshistoricos') %>
        </div>

        <div class="col-md-3">
            <%- include('puntosanuales') %>
        </div>
    </div>
</div>

<div class="container">
    
    <div class="row">

        <div class="col-md-3">
            <%- include('puntos23') %>
        </div>
       
       
        <div class="col-md-3">
            <%- include('puntos20') %>
        </div>

      
        <div class="col-md-3">
            <%- include('puntosfemenil') %>
        </div>

        <div class="col-md-3">
            <%- include('puntoslibre') %>
        </div>

        <div class="col-md-3">
            <%- include('puntosmixto') %>
        </div>

    </div>
</div>


<%- include('../../principal/cierre') %>
