<div class="container">
    <h6>
        <small class="text-muted">
Puntaje Historico Sub-23 
    </small>
      </h6> 
<table class="table table-sm table-striped table-bordered table-hover">

 <thead class="table-success">
    <tr align="center">
      <th scope="col">Equipo</th>

      <th scope="col">Pts</th>
      <th scope="col">GF</th>
      <th scope="col">GC</th>
      <th scope="col">DFG</th>


      

    </tr>
  </thead>
  <tbody>
      
    <% for(var i=0 ; i < Globales23.length; i++) { %>
             
      <tr align="center">
        <td><img src="<%- Globales23[i].Escudo %>" width="40px" height="40px" class="img-thumbnail"></img></td>
        <td><%- Globales23[i].Puntos %></td>
        <td><%- Globales23[i].GF %></td>
        <td><%- Globales23[i].GC %></td>
        <td><%- Globales23[i].DFG %></td>
  
      </tr>
      <% } %>
  
      
      

  
  </tbody>
</table>

</div>

<a href="/sub23global">Ve el Ranking Completo</a>
