<%- include('../../principal/cabecera') %>
<%- include('../../principal/menu') %>




       <%- include('carnet') %>


        <div class="col-md-4">

           
            
          <%- include('logrosi') %>


        </div>
        <div class="col-md-4">

          <%- include('golesFemenil') %>
          <%- include('golesLibre') %>



        </div>



        </div>



        
      </div>
</div>
<%- include('../../principal/cierre') %>
